<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="consolePattern"
              value="%-63(%yellow(%date{ISO8601}) %green([%.13thread])) %highlight(%-5level) %-50(%cyan(%logger{20})) - %msg%n"/>

    <!-- File log pattern without colours -->
    <property name="filePattern"
              value="%-63(%date{ISO8601} [%.13thread]) %-5level %-50(%logger{20}) - %msg%n"/>

    <appender name="ERRFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${EXPLORER_HOME:-${user.home}/.explorer}/logs/explorer-errors.log</file>
        <append>true</append>
        <encoder>
            <pattern>${filePattern}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${EXPLORER_HOME:-${user.home}/.explorer}/logs/explorer-errors.%i.log</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>10</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>100MB</maxFileSize>
        </triggeringPolicy>
    </appender>

    <appender name="INFOFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${EXPLORER_HOME:-${user.home}/.explorer}/logs/explorer-info.log</file>
        <append>true</append>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder>
            <pattern>${filePattern}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${EXPLORER_HOME:-${user.home}/.explorer}/logs/explorer-info.%i.log</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>10</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>100MB</maxFileSize>
        </triggeringPolicy>
    </appender>

    <if condition='Boolean.valueOf(property("EXPLORER_ENABLE_DEBUG_LOGGING"))'>
        <then>
            <appender name="DEBUGFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <file>${EXPLORER_HOME:-${user.home}/.explorer}/logs/explorer-debug.log</file>
                <append>true</append>
                <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                    <level>DEBUG</level>
                </filter>
                <encoder>
                    <pattern>${filePattern}</pattern>
                </encoder>
                <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                    <fileNamePattern>
                        ${EXPLORER_HOME:-${user.home}/.explorer}/logs/explorer-debug.%d{yyyy-MM-dd}.%i.log
                    </fileNamePattern>
                    <maxFileSize>100MB</maxFileSize>
                    <maxHistory>60</maxHistory>
                    <totalSizeCap>1GB</totalSizeCap>
                </rollingPolicy>
            </appender>
        </then>
    </if>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${consolePattern}</pattern>
        </encoder>
    </appender>

    <logger name="akka.http.impl.engine.client" level="WARN"/>
    <logger name="slick" level="INFO"/>
    <logger name="com.zaxxer.hikari" level="INFO"/>
    <logger name="io.netty" level="WARN"/>
    <logger name="org.asynchttpclient" level="WARN"/>

    <root level="${EXPLORER_LOG_LEVEL:-DEBUG}">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="ERRFILE"/>
        <appender-ref ref="INFOFILE"/>
        <appender-ref ref="DEBUGFILE"/>
    </root>
</configuration>
